/*HEADER&FOOTER_________________________________*/
.home-menu {
    color: white;
    padding: 10px;
    text-align: left;
    overflow: auto;
    position: absolute;
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 500;
    font-size: 30px;
    /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    font-family: 'Quicksand', sans-serif;
    
}

.footer{
    text-align: center;
    background-color: rgb(46, 46, 46);
    padding-top: 30px;
    padding-bottom: 5px;
    font-size: 12px;
    color: #b0acb0;
    border-top: 4px solid #4aaaa5;
}

/*LANDING PAGE_________________________________*/
.container-body {
    background-image: url('../images/IMG_3165.jpg');
    z-index: 1;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.jumbo-p {
    font-size: 55px;
    font-weight: bold;
    color: white;
    font-weight: 100;
    line-height: 1em;
    text-align: center;
    font-weight: bold;
    
}

.jumbotron {
    width: 80%;
    height: 90%;
    margin: auto;
    position: absolute;
    top: 100px; left: 0; bottom: 0; right: 0;
    text-align: center;
    
}

.jumbo-subhead{
    color: white;
    font-family: 'Quicksand', sans-serif;
}

.content-wrapper {
    background-color: teal;
    position: absolute;
    top: 60%;
    width: 100%;
    min-height: 15%;
    z-index: 2;
    color: white;
    
}

.fit-icons{
    width: 100px;
    height: 100px;
    
}

button.pure-button-primary {
    background: limegreen;
    color: white;
    font-size: 120%;
    padding: 0.5em 2em;
    border-radius: 25px;
    font-family: 'Quicksand', sans-serif;
}


/*a.pure-button-primary {
    background: limegreen;
    color: white;
    border-radius: 5px;
    font-size: 120%;
    padding: 0.5em 2em;
    border-radius: 5px;
    border-color: teal;
    border-width: 2px;
}*/

.content{
    padding: 0em;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.content-subhead{
    padding: 0em;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}


/*HEALTH-FORM & GOALS_____________________________*/
.jumbotron-2{
   background-color: teal;
   margin-top: 8%;
   margin-left: 25%;
   margin-right: 25%;
   margin-bottom: 5%;
   /*margin: 0 auto;
   /*width: 100%;*/
   text-align: center;
   padding-top: 1%;
   padding-bottom: 2%;
   border-radius: 25px;
   border: 3px solid darkslategray;
   font-family: 'Quicksand', sans-serif;
   /*position: absolute;*/
   
  
}


.jumbo-p-2{
    font-size: 20px;
    color: lime;
   
}

.form.pure-form-stacked{
    text-align: center;
    color: white;
}

#answer1{
    text-align: center;
    margin-left: 38%;
    margin-right: 37%;

}
#answer2{
    text-align: center;
    margin-left: 38%;
    margin-right: 37%;
}
#answer3{
    text-align: center;
    margin-left: 38%;
    margin-right: 37%;

}
#answer4{
    text-align: center;
    margin-left: 38%;
    margin-right: 37%;

}
#answer5{
    text-align: center;
    margin-left: 38%;
    margin-right: 37%;

}

#answer6{
    text-align: center;
    margin-left: 38%;
    margin-right: 37%;

}

#answer7{
    text-align: center;
    margin-left: 38%;
    margin-right: 37%;

}

#question{
    color: white;
    font-size: 18px;
}

.jumbo-p-3{
    font-size: 20px;
    color: lime;
   
}

/*ALERT_____________________________*/
.alert {
    padding: 20px;
    background-color: #EC7063;
    color: white;
    position: fixed;
    top: 7px;
    left: 18%;
    width: 60%;
    margin-top: 15%;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    border-radius: 25px;
}

.button-success {
    color: white;
    border: 2px solid white;
    background-color: #EC7063;
    font-size: 120%;
    padding: 0.5em 2em;
    border-radius: 25px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    /*float: right;*/
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
}

/*FINAL WORKOUT_____________________________*/
button.accordion{
    cursor:pointer;
    border:none;
    outline:none;
    width:80%;
    text-align:left;
    background-color:transparent;
    color:#fff;
    padding:8px;
    margin:6px 0;
    border-radius:4px;
    transition:0.3s;
    border: 2px solid white;
    text-align: center;
    
  }
  
  button.accordion:hover{
    background-color:rgba(255,255,255,0.3);
  }
  
  button.accordion.active{
    background-color:#fff;
    color:#000;
    border-radius:4px 4px 0 0;
    margin:4px 0 0;
   }
  
  div.panel{
    background-color:rgba(255,255,255,0.8);
    color:#000;
    border-radius:0 0 4px 4px;
    overflow:hidden;
    opacity:0;
    max-height:0;
    /*transition:0.3s;*/
    padding:0 8px;
    margin:0;
  }
  
  div.panel.show{
    opacity:1;
    max-height: 100000px;
    padding:8px;
    margin:2px 0 4px;
    margin-left: 9%;
    text-align: center;
    width:80%;
  }
  
